.dashbord {
    height: 100%;
    grid-area: main;
    color: rgba(255, 255, 255, 0.95);
    background-color: #2c3e50;
    border-radius: 10px;
  }
  
  .mainCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
  }
  .card h3{
    font-size: 25px;
  }
  .card:first-child {
    background-color: #2962ff;
  }
  
  .card:nth-child(2) {
    background-color: #ff6d00;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
  }
  
  .cardInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cardInner > .cardIcon {
    font-size: 25px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    height: 400px;
  }
  @media (max-width : 900px) {
    .dashbord{
      height: 200%;
    }
    .mainCards , .charts{
      display: flex;
      flex-direction: column;
    }

  }